#yellow{
		background-color: yellow;
		border-width: 1px;
		border: 1px solid green;
}


#red{
	background-color: red;
	border-width: 1px;
	border: 1px solid black;
}

#green{
	background-color: green;
	border-width: 1px;
	border: 1px solid yellow;
}